.boxes {
    display: flex;
    border: 5px solid green;
    gap: 10px;
    flex-direction: row; /* flex-direction: row; = default */
    flex-wrap: none;
    justify-content: space-evenly;

}

.box {
    width: 100px;
    height: 100px;
    background-color: coral;
}

.cards {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
    border: 5px solid purple;
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

.cards-1 {
    order: 2;
}

.cards-2 {
    order: 1;
}

.cards-3 {
    order: 3;
}