.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.box {
    width: 200px;
    height: 200px;
    background-color: orange;
    /* margin-bottom: 20px; */
}

.boxes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box-2, .box-3 {
    display: none;
}

.story {
    padding: 50px 0;
}

@media screen and (min-width: 700px) {
    .box {
        background-color: aquamarine;
    }
    .box-2 {
        display: block;
    }
}

.content img {
    width: 200px;
    float: left;
    margin-right: 20px;
}

@media screen and (min-width: 1000px) {
    h2 {
        border-top: 10px dotted lightblue;
    }


    .boxes {
        flex-direction: row;
    }

    .box-1 {
        order: 2;
        
    }
    .box-2 {
        order: 1;
    }

    .box-3 {
        display: block;
        order: 3;
    }

    .content img {
        float: right;
        margin-right: 0;
        margin-left: 20px;
    }

    .content p:nth-last-of-type(2) {
        color: lightcoral;
    }
}
