.largekitten {
    display: none;
}

.gameslist li{
    list-style: none;
    border-bottom: 1px solid black;
    padding: 10px;
}

@media screen and (min-width: 480px) {
    .smallkitten {
        display: none;
    }

    .largekitten {
        display: block;
    }
}

@media screen and (min-width: 800px) {
    .gameslist li{
        float: left;
        border-bottom: none;
        border-right: 1px solid black;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    h1 {
        font-size: 4rem;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 6rem;
    }
}