body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: rgb(119, 119, 119);
}

.nav-bar ul {
    list-style: none;
    overflow: hidden;
    background-color: rgb(64, 64, 64);
}

.nav-bar a {
    color: black;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar a:hover {
    background-color: aliceblue;
    border: solid aliceblue;
}

.nav-bar a.current {
    background-color: rgb(126, 191, 255);
    color: aliceblue;
    border: solid aliceblue;
}

.notcurrent {
    border: solid rgb(64, 64, 64);
}

header, footer {
    background-color: rgb(98, 98, 98);
}

main {
    clear: both;
    padding: 25px;
}

.site-title {
    padding-left: 20px;
    padding-top: 20px;
    color: aliceblue;
}

#my-image {
    clear: both;
    width: 380px;
    box-shadow: 0px 0px 2px 1px black;
}

.hobbies ul {
    float: left;
    list-style: square;
}

.hobbies ul li:nth-child(odd) {
    background-color: rgb(126, 191, 255);
}

footer {
    clear: both;
}