/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*   CSS Start   */

/* General Reset and Box Sizing */
* {
    box-sizing: border-box;
}

/* Headings (h1 to h5) Styles */
h1, h2, h3, h4, h5 {
    font-weight: bold;
}

/* Individual Heading Styles */
h1 {
    font-size: 4rem;
    margin: 20px 0;
}

h2 {
    font-size: 3rem;
    margin: 20px 0;
}

h3 {
    font-size: 2rem;
    padding: 20px 0 10px 0;
}

h4 {
    padding-bottom: 5px;
    border-bottom: 2px solid #c78c06;
}

/* Paragraph Styles */
p {
    font-size: 1rem;
    line-height: 1.3;
    padding: 10px 0 10px 0;
}

/* Image Styles */
img {
    width: 100%;
}

/* Wrapper (General Layout Container) */
.wrapper {
    max-width: 1200px;
    margin: auto;
    height: auto;
    padding: 20px;
}

/* Body (Global Font Family) */
body {
    font-family: "Open Sans", sans-serif;
}

/* Logo Styles */
.logo {
    background-color: #c78c06;
    padding: 10px 0 10px 0;
}

.logo img {
    width: 15%;
}

/* Navigation Section */
.nav-info {
    background-color: #222;
}

/* Navigation Bar Styles */
.nav-bar ul {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav-bar ul li a {
    display: block;
    color: #c78c06;
    text-decoration: none;
    padding: 18px 0;
}

/* Current/Active Link in Navigation */
.nav-bar ul li a.current {
    background-color: #c78c06;
    color: #222;
}

/* Search Bar Styles */
.search {
    height: 45px;
}

.search input {
    height: 45px;
    float: left;
    width: calc(100% - 45px);
}

.search input[type=text] {
    padding: 10px 0;
    font-size: 1em;
}

.search button {
    height: 45px;
    width: 45px;
    background-color: #222;
    border: 1px solid #c78c06;
}

.search button i {
    padding: 10px 0;
    font-size: 1.5em;
    color: #c78c06;
}

/* Banner Section */
.banner {
    padding: 50px 0 50px 0;
    background-image: url(../images/main-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner .banner-border {
    overflow: hidden;
    background-color: hsla(0, 0%, 13%, 0.7);
}

.banner-info {
    color: white;
}

/* Banner Heading Transition Effect */
.banner-info h1 {
    transition: 1s;
    line-height: 1.5em;
}

/* Button with Orange Background */
.button-orange {
    float: left;
    background-color: #c78c06;
    padding: 30px;
    margin: 20px 0 20px 0;
}

.button-orange a {
    font-size: 1.25em;
    color: black;
    text-decoration: none;
}

/* About Us Section */
.about-us-section {
    background-color: #ffe6ac;
    padding-bottom: 10px;
}

/* Services Information Styles */
.digital-info,
.marketing-info,
.video-info,
.web-info,
.print-info,
.john-info,
.bob-info {
    overflow: hidden;
    background-color: #ffe6ac;
    margin-bottom: 20px;
    padding: 10px;
}

.digital-info h3 {
	word-break: break-word;
	flex-wrap: wrap;
}

.marketing-info h3 {
	word-break: break-word;
	flex-wrap: wrap;
}

/* Individual Service Section Backgrounds */
.digital,
.marketing,
.video,
.web,
.print {
    height: 100%;
    background-color: #ffe6ac;
}

/* Button with Black Background */
.button-black {
    float: left;
    background-color: #222;
    padding: 30px;
}

.button-black a {
    color: white;
    text-decoration: none;
}

/* Vision Section */
.vision {
    background-image: url(../images/vision.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.vision .vision-info {
    overflow: hidden;
    color: white;
}

/* Transparent Button Style */
.button-transp {
    float: left;
    border: 1px solid #c78c06;
    background-color: hsla(0, 0%, 13%, 0.7);
    padding: 30px;
}

.button-transp a {
    color: white;
    text-decoration: none;
}

/* Team Members Section (John and Bob) */
.john, .bob {
    background-color: #ffe6ac;
}

/* Message Form Section */
.message-form {
    overflow: hidden;
}

.input-form input[type=text],
.input-form input[type=email],
.input-form textarea {
    max-width: 100%;
    min-width: 100%;
}

/* Message Form Button */
.input-form input[type=button] {
    font-size: 1.25em;
    color: #c78c06;
    background-color: #222;
    border: none;
    float: left;
    padding: 5px;
    margin: 10px 0 10px 0;
}

/* Form Label Styles */
.message-form form label {
    display: block;
    padding: 15px 0 0 0;
}

/* Hours Section Table Styles */
.hours table {
    width: 100%;
}

.hours table thead tr th {
    padding: 20px;
    background-color: #ffe6ac;
    border: 1px solid black;
}

.hours table tbody tr td {
    padding: 20px;
    border: 1px solid black;
}

/* Location Section Map Styling */
.location .map iframe {
    height: 500px;
    width: 100%;
}

/* Footer Section */
footer {
    color: #c78c06;
    background-color: #222;
}

footer .footer-info {
    padding-top: 10px;
}

footer .footer-info a {
    color: #c78c06;
}

/* Responsive Styles for Screens with a Min Width of 760px */
@media screen and (min-width: 760px) {
    /* Logo Adjustments for Larger Screens */
    .logo {
        float: left;
        background-color: #222;
        padding: 0;
    }

    .logo img {
        height: auto;
        width: 80px;
    }

    /* Navigation Bar Adjustments */
    .nav-bar {
        justify-content: space-between;
    }

    .nav-bar,
    .nav-bar ul {
        display: flex;
        align-items: center;
    }

    .nav-bar ul {
        flex-direction: row;
        column-gap: 30px;
        margin: 0 20px 0 20px;
        transition: 1s;
    }

    .nav-bar ul li a.current {
        padding: 20px 30px;
    }

    /* Banner Adjustments */
    .banner {
        padding: 50px 20px 50px 20px;
    }

    .banner-info h1 {
        transition: 1s;
    }

    /* About Us Section Adjustments */
    .about-us-section img {
        display: none;
    }

    .about-us-section .about-img {
        background-image: url(../images/about-us.jpg);
        height: auto;
        width: 50%;
    }

    .about-us-section .wrapper {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
    }

    .about-us-section .about-info {
        width: 50%;
        padding-left: 20px;
    }

    /* Services Section Adjustments */
	.services-section h3 {
		font-size: 1.25em;
		transition: 1s;
	}
	
    .digital-info,
    .marketing-info,
    .video-info,
    .web-info,
    .print-info,
    .john-info,
    .bob-info {
        margin-bottom: 0px;
    }

    .services-section .wrapper .service-info {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto 1fr;
        row-gap: 20px;
        column-gap: 20px;
    }

    /* Individual Service Placement in Grid Layout */
    .services-section .wrapper .digital {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .services-section .wrapper .marketing {
        grid-column: 4/7;
        grid-row: 1/2;
    }

    .services-section .wrapper .video {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .services-section .wrapper .web {
        grid-column: 3/5;
        grid-row: 2/3;
    }

    .services-section .wrapper .print {
        grid-column: 5/7;
        grid-row: 2/3;
    }

    /* Button Alignment Adjustments */
    .button-black {
        float: none;
        margin-top: 10px;
        text-align: center;
    }

    /* Team Information Grid Layout */
    .team-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "a b"
            "c d";
    }

    .team-info h3 {
        padding: 10px 0 10px 0;
    }

    .john {
        grid-area: a;
    }

    .john-info {
        grid-area: b;
    }

    .bob {
        grid-area: d;
    }

    .bob-info {
        grid-area: c;
    }

    /* Contact Information Grid Layout */
    .contact-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "a b"
            "c c";
        column-gap: 20px;
    }

    .message-form {
        grid-area: a;
    }

    .location {
        grid-area: b;
    }

    .hours {
        grid-area: c;
    }
}

/* Responsive Styles for Screens with a Min Width of 1200px */
@media screen and (min-width: 1200px) {
	.services-section h3 {
		font-size: 2rem;
		transition: 1s;
	}

    .nav-bar ul {
        transition: 1s;
        column-gap: 100px;
    }

    .banner {
        padding: 50px 20px 50px 20px;
    }

    .banner .banner-border {
        margin: 0 auto;
        max-width: 1240px;
    }

    .banner-info h1 {
        transition: 1s;
        font-size: 6em;
    }
}
